# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Data (heavy files)
data/raw/
data/processed/

# Models (keep ONLY required files)
models/*
!models/final_model.keras
!models/class_indices.json

# Logs
logs/
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp